<!-- <li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li> -->
<!-- <%- partial('partials/learn_dropdown') %> -->

<li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">教程</a></li>
<li><a href="<%- url_for("/v2/api/") %>" class="nav-link<%- page.path.match(/\/api(\/|$)/) ? ' current' : '' %>">API</a></li>

<!-- <%- partial('partials/language_dropdown') %> -->
<!-- <li><a href="https://github.com/vuejs/cn.vuejs.org/" target="_blank" class="nav-link contribute">参与翻译</a></li> -->
